@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-size: stretch;
    background-repeat: no-repeat;
    background-color: #43454D;
    overflow-x: hidden;
}

.navigator {
    display: inline-block;
    list-style: none;
    margin: 0px;
    width: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 16pt;
    text-decoration: none;
    max-height: auto;
}

.dropdown .navigator{
    width:100%;
}

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    width: 10%;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 155px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

h3 {
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}

.navigator:hover {
    background-color: #8C8F97;
}

.current {
    text-decoration: underline;
}

#aboutBtn {
    position: absolute;
    left: 55%;
    top: 40%;
    padding: 13px;
    width: 220px;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    border-radius: 100px;
    font-weight: bold;
    font-size: 12pt;
}

#reviewsBtn {
    position: absolute;
    left: 70%;
    top: 40%;
    width: 180px;
    padding: 13px;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    border-radius: 100px;
    font-weight: bold;
    font-size: 12pt;
}

#reviewsBtn:hover,
#aboutBtn:hover {
    background-color: rgba(255, 255, 255, 0.349);
    border: 2px solid rgba(255, 255, 255, 0.459);
    font-weight: bold;
}

.title {
    display: inline-block;
    list-style: none;
    margin: 0px;
    width: 20%;
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 16pt;
    padding-left: 25px;

}

ul {
    background-color: #43454D;
    padding: 0;
    margin: 0;
    color: white;
    border-bottom: 1px solid white;
}

#intro {
    display: inline;
    position: absolute;
    right: 200px;
    color: black;
    top: 180px;
    width: 500px;
}

.scotland {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    animation-name: Bubble;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: alternate;

}

@keyframes Bubble {

    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.0225);
    }

}

#secondTxt {
    text-align: center;
    color: white;
}

.half1 {
    float: left;
    width: 45%;
    word-wrap: break-word;
    text-align: center;
    padding: 20px;
    color: white;
}

.half2 {
    float: right;
    width: 45%;
    word-wrap: break-word;
    text-align: center;
    padding: 20px;
    color: white;
}

hr {
    width: 80%;
}

@media(max-width: 1350px) {
    #aboutBtn {
        position: absolute;
        left: 55%;
        top: 40%;
        padding: 13px;
        width: 220px;
        background-color: transparent;
        outline: none;
        border: 2px solid white;
        border-radius: 100px;
        font-weight: bold;
        font-size: 12pt;
    }

    #reviewsBtn {
        position: absolute;
        left: 85%;
        top: 40%;
        width: 180px;
        padding: 13px;
        background-color: transparent;
        outline: none;
        border: 2px solid white;
        border-radius: 100px;
        font-weight: bold;
        font-size: 12pt;
    }

    iframe {
        height: 550px;
    }
}

.main {
    background-color: white;
    width: 85%;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

iframe {
    height: 800px;
}

.review {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;

}

i.fas,
i.far {
    color: rgb(255, 230, 89);
}

@media(max-width: 850px) {
    .navigator, .dropdown, .dropdown-content {
        width: 100%;
        margin: 0;
        text-align: center;
        font-size: 18pt;
    }

    .title{
        display: none;
    }

    #reviewsBtn,
    #aboutBtn {
        display: none;
    }

    #intro {
        top: 800px;
        width: 100%;
        left: auto;
        right: auto;
        text-align: center;
    }

    .scotland {
        width: 70%;
    }

    hr {
        width: 80%;
    }

    .half1,
    .half2 {
        width: 90%;
    }

    .main {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        width: 95%;
    }

    iframe {
        height: 400px;
    }
}