@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-size: stretch;
    background-repeat: no-repeat;
    background-color: #43454D;
    overflow-x: hidden;
}

.title {
    padding-left: 25px;
}

.navigator {
    display: inline-block;
    list-style: none;
    margin: 0px;
    width: 10%;
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 16pt;
    text-decoration: none;
}

h3 {
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}

.navigator:hover {
    background-color: #8C8F97;
}

.current {
    text-decoration: underline;
}

#aboutBtn {
    position: absolute;
    left: 55%;
    top: 40%;
    padding: 13px;
    width: 220px;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    border-radius: 100px;
    font-weight: bold;
    font-size: 12pt;
}

#reviewsBtn {
    position: absolute;
    left: 70%;
    top: 40%;
    width: 180px;
    padding: 13px;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    border-radius: 100px;
    font-weight: bold;
    font-size: 12pt;
}

#reviewsBtn:hover,
#aboutBtn:hover {
    background-color: rgba(255, 255, 255, 0.349);
    border: 2px solid rgba(255, 255, 255, 0.459);
    font-weight: bold;
}

.title {
    display: inline-block;
    list-style: none;
    margin: 0px;
    width: 10%;
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 16pt;
}

ul {
    background-color: #43454D;
    padding: 0;
    margin: 0;
    color: white;
    border-bottom: 1px solid white;
}

#intro {
    display: inline;
    position: absolute;
    right: 200px;
    color: black;
    top: 180px;
    width: 500px;
}

.scotland {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#secondTxt {
    text-align: center;
    color: white;
}

.half1 {
    float: left;
    width: 45%;
    word-wrap: break-word;
    text-align: center;
    padding: 20px;
    color: white;
}

.half2 {
    float: right;
    width: 45%;
    word-wrap: break-word;
    text-align: center;
    padding: 20px;
    color: white;
}

hr {
    width: 50%;
}

@media(max-width: 1350px){
    #aboutBtn {
        position: absolute;
        left: 55%;
        top: 40%;
        padding: 13px;
        width: 220px;
        background-color: transparent;
        outline: none;
        border: 2px solid white;
        border-radius: 100px;
        font-weight: bold;
        font-size: 12pt;
    }
    
    #reviewsBtn {
        position: absolute;
        left: 55%;
        top: 45%;
        width: 180px;
        padding: 13px;
        background-color: transparent;
        outline: none;
        border: 2px solid white;
        border-radius: 100px;
        font-weight: bold;
        font-size: 12pt;
    }
}

aside{
    width: 20%;
    height: 100vh;
    border-right: 1px solid white;
    margin: 0px;
    padding: 0px;
    float: left;
    display: inline;
}

.main{
    background-color: white;
    width: 71%;
    height: 200px;

    position: absolute;
    top: 120px;
    right: 60px;
}


@media(max-width: 850px) {
    .navigator {
        width: 100%;
        margin: 0;
        text-align: center;
        font-size: 18pt;
    }

    #reviewsBtn,
    #aboutBtn {
        display: none;
    }

    #intro {
        display: none;
    }

    .scotland {
        width: 70%;
    }

    hr {
        width: 80%;
    }

    .half1,
    .half2 {
        width: 90%;
    }

    aside{
        display: none;
    }
}